**/sample_images
**/Raspberry Pi Code
**/.vscode
/Neural Network**/CSV Files
/Sound Processing/CSV Files
**/blue_background_sample_images
/Neural Networks/CNN/__pycache__
/Neural Networks/CNN/tensorflow/__pycache__
/pymeanshift/bit_mask_scores*/*
